html{
    height: 100%;
}

.layout-wrapper{
    background: $clr-accent;
    // background: linear-gradient(135deg, $clr-accent2 -100%, $clr-accent 100%);
}

// -- GRID SYSTEM --
.grid{
    display: grid;
    grid-template-columns: 4em repeat(2, minmax(auto, 130em)) 4em;
    
    &.grid--small{
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    
    .grid__container{
        grid-column: 2/4;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

.content-wrapper{
    position: relative;
    display: grid;
    gap: 4em;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;

    &.--two-sections{
        grid-template-columns: 1fr 1fr;
    }
    &.--two-thirds-sections{
        grid-template-columns: 1fr 2fr;
    }

}

.pop-up, .prompt{
    .content-wrapper{
        gap: 1.25em;
    }
}

@media(max-width: 61.9375rem){  // 991px 
    .content-wrapper{
        gap: 1em;
        text-align: center;

        &.--two-sections{
            grid-template-columns: 1fr;
        }
        &.--two-thirds-sections{
            grid-template-columns: 1fr;
        }
    
    }
    
    // -- NAVIGATION --
    nav{
        .navigation{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            .navigation__links{
                display: none;
            }
        }
    }
}

@media(max-width: 62rem){ // 992px
    .grid{
        &.grid--small{ grid-template-columns: 1.5em repeat(2, minmax(auto, 31em)) 1.5em }
    }
}
@media(max-width: 48rem){ // 768px
    .grid{ grid-template-columns: 1.5em repeat(2, minmax(auto, 130em)) 1.5em }
}
@media(max-width: 20rem){ // 320px
    .grid{ 
        grid-template-columns: 1em repeat(2, minmax(auto, 130em)) 1em;

        &.grid--small{ grid-template-columns: 1em repeat(2, minmax(auto, 31em)) 1em }
    }
}