html{
    min-height: 100vh;
}

.layout-wrapper{
    background: rgb(0,58,67);
    background: linear-gradient(135deg, rgba(0,58,67,1) 0%, rgba(0,220,130,1) 100%);
}

// -- GRID SYSTEM --
.grid{
    display: grid;
    grid-template-columns: 4em repeat(2, minmax(auto, 130em)) 4em;
    
    .grid__container{
        grid-column: 2/4;
        height: 100vh;
    }
}

.content-wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
}

@media(max-width: 61.9375rem){  // 991px 
    // -- NAVIGATION --
    nav{
        .navigation{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            .logo{
                
            }
            
            .navigation__links{
                display: none;
            }
        }
    }
}

@media(max-width: 48rem){ // 768px
    .grid{ grid-template-columns: 1.5em repeat(2, minmax(auto, 130em)) 1.5em }
}
@media(max-width: 20rem){ // 320px
    .grid{ grid-template-columns: 1em repeat(2, minmax(auto, 130em)) 1em }
}