*{
    color: $clr-dark;
    font-family: $ff;
}

.super-heading{
    font-size: var(--fs-xl);
    line-height: 1;
}
.heading{
    font-size: var(--fs-l);
    line-height: 1.2;
}
.sub-heading{
    font-size: var(--fs-x);
    line-height: 1.6;
    letter-spacing: 1px;
}

a,p{
    font-size: var(--fs-x);
    line-height: 1.8;
}
a{
    text-decoration: none;
    
    &:hover{
        text-decoration: none;
    }
    
}

button{
    font-size: var(--fs-x);
    width: fit-content;
    padding: .25em 1em;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
}