// -- VARIABLES --
:root{
    --fs-xl: 42vw;
    --fs-l: 2rem;
    --fs-x: 1.1rem;
    --fs-s: .85rem;
}

@media(max-width: 48rem){ // 768px
    :root{
        --fs-xl: 48vw;
        --fs-l: 2rem;
        --fs-x: 1.1rem;
        --fs-s: .75rem;
    }
}


$ff: 'Bidan', sans-serif;

$clr-dark: #0d0d0d;
$clr-light: #fff;