// -- VARIABLES --
:root{
    --fs-xl: 45vw;
    --fs-l: 3rem;
    --fs-sl: 2rem;
    --fs-x: 1.1rem;
    --fs-s: .85rem;
}

@media(max-width: 62rem){ // 991px
    :root{
        --fs-xl: 48vw;
        --fs-l: 2rem;
        --fs-sl: 2rem;
        --fs-x: 1.1rem;
        --fs-s: .75rem;
    }
}

$ff: 'Bidan', sans-serif;

$clr-dark: #0d0d0d;
$clr-light: #fff;
$clr-grey: #4f4f4f;
$clr-accent: rgba(0,220,130,1);
$clr-accent2: rgba(0,58,67,1);